.App {
  display: flex;
  justify-content: space-around;
}

.App form {
  display: flex;
  flex-direction: column;
}

.inputBox {
  height: 50px;
  width: 400px;
  margin: 10px;
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 5px;
}

.inputBox input {
  width: 75%;
  height: 60%;
  margin: 5px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 5px;
}

.inputBox label {
  width: 25%;
  text-align: center;
  color: gray;
}

.submitButton {
  width: 30%;
  align-self: center;
}
